@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --clr-primary: #003d2b;
  --clr-primary-400: #222529;
  --clr-primary-300: #343842;
  --clr-primary-200: #272a2e;
  --clr-grey: #4c585b;
  --clr-grey2: rgb(167, 167, 167);
  --clr-font: black;
  --clr-font-2: whitesmoke;
  --clr-primary-font: #fff;
}

/* Styles for common elements */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-primary-400);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-grey);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-grey2);
}

body {
  width: 100%;
  min-height: 100svh;
  background-color: var(--clr-primary-400);
  color: var(--clr-font-2);
}

.green {
  color: var(--clr-primary-100);
}

.block {
  display: block;
  margin-bottom: 10px;
}

.star {
  color: rgb(201, 0, 0);
}

.message {
  width: 140px;
  min-height: 80px;
  position: fixed;
  border-radius: 20px;
  top: 100px;
  left: -200px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-300);
  backdrop-filter: blur(4px);
}

.bold {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--clr-primary-font);
}

button:hover {
  cursor: pointer;
}

/* header */
header {
  z-index: 2;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--clr-primary-300);
  backdrop-filter: blur(7px);
  box-shadow: 1px 0 5px var(--clr-font);
  font-weight: 700;
}

.narrow-section {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid transparent;
}

.narrow-section:last-child {
  justify-content: end;
}

.wide-section {
  width: calc(100% / 5 * 3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid transparent;
}

/* language menu */
.lang-set {
  background-color: var(--clr-primary-200);
  opacity: 90%;
  width: 58px;
  height: 70%;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  position: relative;
}

.lang-set img:nth-child(1) {
  width: 30px;
  height: 30px;
  position: relative;
  top: 5px;
  left: 4px;
}

.lang-set img:nth-child(2) {
  width: 15px;
  height: 15px;
  position: relative;
  top: 20px;
  left: 8px;
  rotate: 0deg;
}

.lang-list {
  opacity: 90%;
  position: absolute;
  width: 120px;
  height: 80px;
  background-color: var(--clr-primary-300);
  border: 0.5px solid var(--clr-grey);
  top: 45px;
  border-radius: 8px;
  z-index: 3;
  display: none;
  color: var(--clr-font-2);
}

.lang-list img {
  margin: 0 10px 0 0;
}

.lang-list span:hover {
  color: var(--clr-grey2) !important;
  cursor: pointer;
}

.lang-list > * {
  cursor: pointer;
}

.nav-horizontal-list {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-horizontal-list li {
  margin: 0 15px;
  display: flex;
  align-items: center;
  height: 56px;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid var(--clr-font-2);
  }
}

.nav-horizontal-list a {
  text-decoration: none;
  color: var(--clr-font-2);
}

/* login and signup buttons */
.login-button {
  background-color: var(--clr-font-2);
  width: fit-content;
  height: 50%;
  color: var(--clr-font);
  opacity: 90%;
}

.register-button {
  margin: 0 15px;
  background-color: var(--clr-font);
  width: fit-content;
  height: 50%;
  color: var(--clr-font-2);
  opacity: 90%;
}

.button-inside-style {
  padding: 16px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-inside-style:hover {
  opacity: 100%;
}

/* login and signup buttons for smaller devices*/
@media (width <= 400px) {
  .register-button {
    margin: 0 8px;
  }

  .button-inside-style {
    padding: 16px 5px;
  }
}

/* burger menu */

.navbar-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-60%);
  z-index: 3;
  display: none;
}

.navbar-button,
.menu-bar-icon {
  width: 35px;
  width: 35px;
}

.shown-navbar {
  animation: showNavbar 0.5s ease-in-out 0s 1 normal forwards;
}

.hidden-navbar {
  animation: hideNavbar 0.5s ease-in-out 0s 1 normal forwards;
}

.navbar {
  width: 97%;
  height: 250px;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  position: fixed;
  display: none;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding: 20px;
  background-color: var(--clr-primary-200);
  border-radius: 8px;
  opacity: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.navbar :is(a, li) {
  color: var(--clr-grey2);
  text-decoration: none;
  font-size: 20px;
}

.navbar a {
  transition: color 0.3s ease-in-out 0s;
  transition: margin-left 0.7s ease-in-out 0s;
}

.navbar li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 35%;
  position: relative;
}

.navbar li img {
  width: 30px;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 17%;
  transform: translateY(-50%);
  z-index: 3;
}
.navbar li:hover > a {
  color: var(--clr-primary-font);
  margin-left: 30px;
  transition: color 0.3s ease-in-out 0s;
  transition: margin-left 0.7s ease-in-out 0s;
}

/* main  */
.main-wrapper {
  width: 100%;
  min-height: calc(100svh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer elements */
footer {
  background-color: var(--clr-primary-200);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px 0;
}

.upper-section {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
  text-wrap: wrap;
}

.footer-image img {
  position: relative;
  top: 2px;
  width: 30px;
}

/* burger menu for smaller devices */
@media (width <= 500px) {
  .navbar li img {
    right: 30px;
  }
}

@media (width <=990px) {
  .navbar-button {
    display: block;
  }

  header {
    justify-content: center;
    column-gap: 30px;
  }

  .lang-set {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .wide-section {
    display: none;
  }

  .navbar {
    display: flex;
  }
}

/* animations */
@keyframes zoomIn {
  from {
    opacity: 1;
  }

  to {
    transform: scale(1.05);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1);
  }
}

@keyframes show {
  from {
    left: -200px;
  }

  to {
    left: 20px;
  }
}

@keyframes hide {
  from {
    left: 20px;
  }

  to {
    left: -200px;
  }
}

@keyframes showNavbar {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hideNavbar {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes rotate1 {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 180deg;
  }
}

@keyframes rotate2 {
  from {
    rotate: 180deg;
  }
  to {
    rotate: 0deg;
  }
}
