:root {
    --clr-primary: #003d2b;
    --clr-primary-400: #222529;
    --clr-primary-300: #343842;
    --clr-primary-200: #272a2e;
    --clr-grey: #4c585b;
    --clr-font: black;
    --clr-font-2: whitesmoke;
    --clr-primary-font: #fff;
}

/* wrappers */

main {
    width: 400px;
    height: 500px;
    background-color: var(--clr-primary-200);
    border-radius: 10px;
}

.create-account1 {
    height: 380px;
    opacity: 1;
}

.create-account2 {
    height: 320px;
    display: none;
    opacity: 0;
}


form {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form h1 {
    text-align: center;
}

input {
    padding: 12px 15px;
    border-radius: 3px;
    border: 2px solid var(--clr-grey);
    outline: none;
    background-color: transparent;
    color: var(--clr-primary-font);

    &::placeholder {
        color: var(--clr-font-2);
    }

    &:focus {
        border-color: var(--clr-primary);
    }
}

input[type="checkbox"] {
    margin-right: 5px;
    accent-color: var(--clr-primary);
}

button {
    padding: 10px;
    background-color: var(--clr-primary);
    border-radius: 40px;
    border: none;
    color: var(--clr-font-2);
    font-weight: 700;
    position: relative;

    &:active:not(.continue-button) {
        box-shadow: 0 0 4px var(--clr-primary);
    }
}

.continue-button {
    background-color: transparent;
    border: 1px solid var(--clr-grey);
    caret-color: var(--clr-font-2);

    &:active {
        box-shadow: 0 0 4px var(--clr-grey);
    }
}

.continue-button1::before {
    content: url("images/google.png");
    background-color: transparent;
    position: absolute;
    top: 53%;
    left: 7px;
    transform: translateY(-50%);
}

.continue-button2::before {
    content: url("images/facebook.png");
    background-color: transparent;
    position: absolute;
    top: 55%;
    left: 7px;
    transform: translateY(-50%);
}