:root {
    --clr-primary: #003d2b;
    --clr-primary-400: #222529;
    --clr-primary-300: #343842;
    --clr-primary-200: #272a2e;
    --clr-grey: #8e9fa5;
    --clr-font: black;
    --clr-font-2: whitesmoke;
    --clr-primary-font: #fff;
}


main {
    width: 100%;
    height: auto;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 50px;
}

main h1 {
    margin-bottom: 30px;
}

.offers-wrapper {
    width: 70%;
    display: grid;
    column-gap: 40px;
    row-gap: 70px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

.offer {
    height: 300px;
    min-width: 300px;
    background-color: var(--clr-primary-200);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: relative;

    &::before {
        content: 'Super offer';
        width: 90px;
        height: 20px;
        font-size: 15px;
        padding: 5px;
        text-align: center;
        border-radius: 20px;
        background-color: var(--clr-primary);
        color: var(--clr-primary-font);
        position: absolute;
        top: -6%;
        left: 5%;
    }
}

button {
    padding: 10px;
    background-color: var(--clr-primary);
    color: var(--clr-primary-font);
    font-weight: 700;
    font-size: 17px;
    border: none;
    border-radius: 15px;
    width: 100px;
    margin: 10px auto 0 auto;
    opacity: 0.8;

    &:is(:active, :hover) {
        opacity: 1;
    }
}

.load-more-button {
    width: 200px;
    margin-top: 80px;
}

@keyframes zoomIn {
    from {
        opacity: 1;
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}